@mixin transition($for, $time, $type) {
    transition: {
        property: $for;
        duration: #{$time}s;
        timing-function: $type;
    }
}

@mixin flexCenter() {
    display:flex;
    justify-content:center;
    align-items:center;
}