// Colors
$color-primary: #3498db;
$color-black: #000;
$color-white: #fff;
$color-muted: #bdc3c7;
$color-error: #c0392b;
$color-success: #2ecc71;

//Material Uı Colors
$material-amber: #FFC107;
$material-orange: #FF9800;
$material-blue: #03A9F4;

// Shadow
$box-shadow:0 2px 10px rgba(0, 0, 0, .3);



// General

