// Colors
$color-primary: #2e86de;
$color-black: #000;
$color-white: #fff;
$color-muted: #bdc3c7;
$color-error: #c0392b;
$color-success: #2ecc71;
$color-navyBlue : #130f40;
$color-green : #00b894;
$color-red: #c23616;
$color-twinkleBlue : #ced6e0;

// Shadow
$box-shadow:0 2px 10px rgba(0, 0, 0, .3);

// for Media
$phone: "only screen and (max-width : 576px)";
$tablet: "only screen and (max-width : 992px)";
$desktop: "only screen and (max-width : 1200px)";



