.button{
    width:100%;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: $color-primary;
    outline: none;
    border-radius: 7px;
    @include transition(all, 0.3, ease);
    &:hover{
        color: $color-white;
        background-color: $color-black;
    }
}